# .NET build folders
**/bin/
**/obj/

# VS Code
**/.vscode/

# Visual Studio
**/.vs/

# IntelliJ IDEA / Android Studio
**/.idea/

# User-specific Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build and temporary files
*.tmp
*.temp